@model NovoControleProjetos.Models.Iniciativa


@{
    //Layout = null;

    var usab = Model.usabilidade;
    var dtNulo = Convert.ToDateTime("1900-01-01");
    string dtAprovacao = Model.data_aprovacao != null ? Model.data_aprovacao.Value.ToShortDateString() : null;
    string dtCeti = Model.ceti.Data_Ceti != null ? Model.ceti.Data_Ceti.Value.ToShortDateString() : null;
    string dtPiloto = Model.data_piloto != null ? Model.data_piloto.Value.ToShortDateString() : null;
    string dtPlenoUso = Model.data_plenouso != null ? Model.data_plenouso.Value.ToShortDateString() : null;
    var textoUx = Model.jornada.UX == true ? "Sim" : Model.jornada.UX == false ? "Não" : null;
    var textoJA = Model.jornada.varejo_acompanhou == true ? "Sim" : Model.jornada.varejo_acompanhou == false ? "Não" : null;
    var valUx = Model.jornada.UX == true ? "true" : Model.jornada.UX ==  false ? "false" : null;
    var valJA = Model.jornada.varejo_acompanhou == true ? "true" : Model.jornada.varejo_acompanhou == false ?  "false" : null;
    var dtComunicacao = Model.data_comunicacao != null ? Model.data_comunicacao.Value.ToShortDateString() : null;
    var valUsabilidade = Model.usabilidade == true ? "true" : Model.usabilidade ==  false ? "false" : null;
    var textoUsabilidade = Model.usabilidade == true ? "Sim" : Model.usabilidade == false ? "Não" : null;
    var dtVisita = Model.visita.Data_Visita != null ? Model.visita.Data_Visita.Value.ToShortDateString() : null;
}



@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Create</title>
    </head>
    <body>*@

@*<div class="container" style="padding-top:15px">*@
<html>

<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/JS/iniciativa.js"></script>
    <script src="~/Scripts/JS/maskaras.js"></script>
    @Scripts.Render("~/bundles/inputmask")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha256-Kg2zTcFO9LXOc7IwcBx1YeUBJmekycsnTsq2RuFHSZU=" crossorigin="anonymous"></script>

</head>

<body>
    <form id="form-edit-iniciativa" class="form-horizontal">

        <fieldset>
            @if (Model.num_iniciativa.ToString() == null || Model.num_iniciativa.ToString() == "")
            {
                <legend>SEÇÃO DE ADIÇÃO DO PROJETO: @Model.nome_iniciativa</legend>
            }
            else
            {
                <legend>SEÇÃO DE EDIÇÃO DO PROJETO: @ViewBag.NomeProjeto</legend>
            }
            <div class="form-group">

                <div class="col-md-2" style="padding-right: 0px; padding-left: 0px;">

                    <label for="num-iniciativa">Nº iniciativa</label>
                    <input type="text" id="num-iniciativa" name="num-iniciativa" value="@Model.num_iniciativa" class="form-control" />

                </div>

                <div class="col-md-6">
                    <label for="nome-projeto">Nome Projeto</label>
                    @*<input id="nome-projeto" type="text" class="form-control" style="min-width: 100%;" />*@
                    <input type="text" id="nome-projeto" name="nome-projeto" data-id="@Model.Id_Iniciativa" class="form-control" value="@Model.nome_iniciativa" style="min-width: 100%;" />
                </div>

                <div class="col-md-2" style="padding-left:0">

                    <label for="inpuDepartamento">Departamento</label>
                    @{Html.RenderAction("_ListaDepartamentos", "Departamento", new { @id_departamento = Model.id_departamento });}

                </div>

                <div class="col-md-2">

                    <label for="data-aprovacao">Data Aprovação</label>
                    <input type="text" value="@dtAprovacao" id="data-aprovacao" name="data-aprovacao" onkeypress="mascara(this, mdata);" size="14" maxlength="10" class="form-control" placeholder="DD/MM/AAAA" />

                </div>
            </div>

            <div class="form-group">

                <div class="col-md-2">

                    <div class="row">
                        <label for="cores">Farol</label>
                        @{ Html.RenderAction("_ListaFarol", "Farol", new { @id_farol = Model.id_farol, @cor_farol = Model.cor_farol, @ds_farol = Model.ds_farol });}

                    </div>
                    <div class="row">
                        <label for="esteira">Esteira</label>
                        @{Html.RenderAction("_ListaEsteiras", "Esteira", new { @id_esteira = Model.id_esteira });}
                    </div>

                    <div class="row">
                        <label for="etapa">Etapa</label>
                        @{Html.RenderAction("_ListaEtapas", "Etapa", new { tipoLista = "drop", @id_etapa = Model.id_etapa });}
                    </div>

                </div>

            <div class="col-md-6">
                <input hidden id="id-comentario-farol" value="@Model.farol.Id_Comentario_Farol" />
                <div class="form-group">
                    <label style="margin-left:18px">Comentário Farol</label>
                    @*@Html.TextAreaFor(model => model)*@
                    @*<textarea id="comentario-farol" rows="9" class="form-control" style="margin-left: 17px; min-width: 90%;"></textarea>*@
                    @Html.TextAreaFor(model => model.farol.Comentario_Farol, new { @id = "comentario-farol", @class = "form-control", @rows = "9", @style = "margin-left: 17px; min-width: 90%;" })
                </div>

                </div>

                <div class="col-md-2">
                    @*<label for="form-parcial-orcamento" style=" padding-left: 15px; color:brown" data-toggle="tooltip" data-placement="left" title="@texto"> Orçamento:</label>*@
                    @*@{Html.RenderAction("_Create", "Orcamento", new { @orcamento = Model.orcamento });}*@

                    @Html.Partial("~/Views/Orcamento/_Create.cshtml", Model)

                </div>

                <div class="col-md-2" style="width: 180px; padding-left: 0px;">

                    <div class="row">
                        <label for="cpf-iniciativa">CPF</label>
                        <input type="text" id="cpf-iniciativa" name="cpf-iniciativa" value="@Model.CPF" class="form-control" />
                    </div>

                    <div class="row">

                        <input hidden id="id-ceti" value="@Model.id_ceti" />
                        <label for="total-aprovado-ceti">Total Aprovado CETI</label>
                        <div class="input-group">
                            <div class="input-group-addon">R$</div>
                            <input type="text" id="total-aprovado-ceti" value="@Model.ceti.Total_Aprovado_Ceti" name="total-aprovado-ceti" onkeypress="mascara( this, mvalor );" maxlength="14" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <label for="data-ceti">Data CETI</label>
                        <input type="text" id="data-ceti" data-date="data" value="@dtCeti" name="data-ceti" onkeypress="mascara(this, mdata);" size="14" maxlength="10" class="form-control" placeholder="DD/MM/AAAA" />
                    </div>

                </div>

            </div>

            <div class="form-group">
                <div class="col-sm-2" style="padding-right: 0px; padding-left: 0px;">
                    <label for="data-piloto" class="control-label">Piloto</label>
                    <input type="text" id="data-piloto" name="data-piloto" value="@dtPiloto" onkeypress="mascara(this, mdata);" size="14" maxlength="10" class="form-control" placeholder="DD/MM/AAAA" />
                </div>

                <div class="col-sm-2">
                    <label for="tf-versao-agencia" class="control-label">TF Agencia</label>
                    <input type="text" id="tf-versao-agencia" name="tf-versao-agencia" value="@Model.TF_versao_agencia" class="form-control" />
                </div>

            <div class="col-sm-2">
                <label for="tf-versao-pa" class="control-label">TF PA</label>
                <input type="text" id="tf-versao-pa" name="tf-versao-pa" value="@Model.TF_versao_PA" class="form-control" />
            </div>
            
            <div class="col-md-2">
                <label for="ux" class="control-label">UX</label>
                <select id="ux" class="form-control">
                    <option selected="@Model.jornada.UX" value="@valUx"> @textoUx </option>
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>

            <div class="col-md-2">
                <label for="jornada-analisada" class="control-label">Jornada foi analisada?</label>
                <select id="jornada-analisada" class="form-control">
                    <option selected="@Model.jornada.varejo_acompanhou" value="@valJA"> @textoJA </option>
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>

            <div class="col-md-2">

                
                    <label for="esteira">Mega</label>
                    @{Html.RenderAction("_ListaMegas", "Mega", new { @id_mega = Model.id_mega });}
                


                @*<label for="inputEsteira" class="control-label">Mega</label>
                <select id="mega" class="form-control">
                    <option value="null"> </option>
                    <option value="1">Mega XPTO</option>
                    <option value="2">Mega XYZ</option>
                </select>*@

                    @*@{Html.RenderAction("_ListaEsteiras", "Esteira");}*@
                </div>

            </div>

            <div class="form-group">

                <div class="col-sm-2" style="padding-left:0">
                    <label for="data-plenouso">Pleno Uso</label>
                    <input type="text" id="pleno-uso" name="pleno-uso" value="@dtPlenoUso" onkeypress="mascara(this, mdata);" size="14" maxlength="10" class="form-control" placeholder="DD/MM/AAAA" />
                </div>

            <div class="col-sm-2">
                <label for="data-comunicacao" class="control-label">Data Comunicação</label>
                <input type="text" id="data-comunicacao" name="data-comunicacao" value="@dtComunicacao" onkeypress="mascara(this, mdata);" size="14" maxlength="10" class="form-control" placeholder="DD/MM/AAAA" />
            </div>

                <div class="col-sm-2">
                    <input hidden id="id-visita" value="@Model.id_visita" />
                    <label for="data-visita" class="control-label">Data visita</label>
                    <input type="text" id="data-visita" value="@dtVisita" name="data-visita" onkeypress="mascara(this, mdata);" size="14" maxlength="10" class="form-control" placeholder="DD/MM/AAAA" />
                </div>

            <div class="col-sm-2">

                <label for="agencia">Agência Visitada</label>
                @{Html.RenderAction("_ListaAgencias", "Agencias", new { @cod_agencia = Model.visita.Cod_Agencia });}

                @*<label for="agencia-visitada" class="control-label">Agência visitada</label>
                <input type="text" id="agencia-visitada" name="agencia-visitada" class="form-control" />*@
            </div>

                <div class="col-sm-2">
                    <label for="responsavel-neg" class="control-label">Contato Negócio</label>
                    <input type="text" id="responsavel-neg" name="responsavel-neg" value="@Model.responsavel_neg" class="form-control" />
                </div>

                <div class="col-sm-2">
                    <label for="responsavel-ds" class="control-label">Contato DS</label>
                    <input type="text" id="responsavel-ds" name="responsavel-ds" value="@Model.responsavel_DS" class="form-control" />
                </div>

            </div>

            <div style="padding-left:0; padding-top:2px; margin-left:0px">
                <button type="button" id="btn-toggle" class="btn btn-default btn-xs" data-element="#detalhesDiv">
                    <span id="span-details-plus" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Detalhes
                </button>
            </div>

        <div id="detalhesDiv" class="row" style="padding-top:15px; display:none">
            <input hidden id="id-replanejamento" value="@Model.id_replanejamento" />
            @{Html.RenderAction("_DetalhesIniciativa", "Iniciativa", new { @id_iniciativa = Model.Id_Iniciativa, @replanejamento = Model.replanejamento, });}
        </div>


            <div class="row" style="padding-top:4px;">

                <div class="col-md-3" style="width: 226.5px; padding-left: 20px;">

                <div class="row">
                    <label for="usabilidade">Usabilidade</label>
                    <select id="usabilidade" class="form-control" style="width: 211.5px;">
                        <option selected="@Model.usabilidade" value="@valUsabilidade"> @textoUsabilidade </option>                        
                        
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                </div>

                    <div class="row" id="div-origem" style="border: 1px solid #ccc; border-image: none; width: 210.5px; padding-left:0px; padding-left:15px; padding-right: 0px; margin-top:22px; margin-right: 15px;">
                        <div style="padding-top:15px;">
                            <label for="form-parcial-etapa" style=" padding-left: 0px; color:brown"> Origens:</label>
                        </div>
                        @{Html.RenderAction("_ListaOrigens", "Origem", new { @id_iniciativa = Model.Id_Iniciativa });}
                    </div>
                </div>

                <div class="col-md-3" id="div-vertical" style="padding-left:15px; border: 1px solid #ccc; width: 210.5px; margin-top: 26px;">
                    <div style="padding-top:15px;">
                        <label for="form-parcial-etapa" style=" padding-left: 0px; color:brown"> Verticais:</label>
                    </div>
                    @{Html.RenderAction("_ListaVerticais", "Vertical", new { @id_iniciativa = Model.Id_Iniciativa });}
                </div>

                <div class="col-lg-3" style="width: 360px; padding-right: 0px;">
                    <label style="margin-left:18px">Benefício:</label>
                    @Html.TextAreaFor(model => model.beneficio_iniciativa, new { @id = "beneficio-iniciativa", @class = "form-control", @rows = "10", @style = "height:179px; min-width: 100%; padding-top:0px;" })

                    @*<textarea id="beneficio-iniciativa" rows="10" value="@Model.beneficio_iniciativa" class="form-control" style="height:179px; min-width: 100%; padding-top:0px;"></textarea>*@
                </div>

                <div class="col-lg-3" style="width: 372px;">
                    <label style="margin-left:18px">Resumo:</label>
                    @Html.TextAreaFor(model => model.resumo_iniciativa, new { @id = "resumo-iniciativa", @class = "form-control", @rows = "10", @style = "height:179px; min-width: 100%; padding-top:0px;" })

                    @*<textarea id="resumo-iniciativa" rows="10" class="form-control" value="@Model.resumo_iniciativa" style="height:179px; min-width: 100%; padding-top:0px;"></textarea>*@
                </div>

            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-default" id="update-iniciativa">
                    <span class="glyphicon glyphicon-save"></span> Salvar
                </button>
            </div>
        </fieldset>
    </form>
</body>
</html>
@*</div>
    </body>
    </html>*@


<script>






    //$("#farol option:selected").val().split(' ')[1];
    //var font = "";
    //var title = $("#farol option:selected").text();

    //if (background === 'yellow' || background === 'white') {
    //    font = 'black';
    //} else if (title === "") {
    //    background = 'white';

    //}
    //else {
    //    font = 'white';
    //}
    //$("#farol option").css("background", background).css("color", font);
    //$("#farol option").css("background", "white").css("color", "black");




    $("#cpf-iniciativa").inputmask(
        {
            "mask": "99.999.999/9999-99",
            "numericInput": true,
            "autoUnmask": true

        });

    //$("#total-aprovado").inputmask('decimal', {
    //        'alias': 'numeric',
    //        'groupSeparator': '.',
    //        'autoGroup': true,
    //        'digits': 2,
    //        'radixPoint': ".",
    //        'digitsOptional': false,
    //    'allowMinus': false,
    //            'removeMaskOnSubmit': true,

    //    'placeholder': ''


    //});

    $("#total-aprovado").mask("#.##0.00", { reverse: true });
    $("#total-realizado").mask("#.##0.00", { reverse: true });
    $("#total-contratado").mask("#.##0.00", { reverse: true });

    $("#total-aprovado-ceti").mask("#.##0.00", { reverse: true });




    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $(function () {
        $("#btn-toggle").click(function (e) {



            e.preventDefault();
            var plus = $("#span-details-plus").hasClass('glyphicon glyphicon-plus');


            if (plus) {
                $("#span-details-plus").removeClass();
                $("#span-details-plus").addClass('glyphicon glyphicon-minus');
            }
            else {

                $("#span-details-plus").removeClass();
                $("#span-details-plus").addClass('glyphicon glyphicon-plus');
            };
            el = $(this).data('element');
            $(el).toggle();

        });
    });
</script>






