@model IEnumerable<NovoControleProjetos.Models.Etapa>

@{
    var _count = ViewBag.total;
    Layout = null;

    var id_etapa = ViewBag.id_etapa;

}


@if (ViewBag.tipoLista == "drop")
{

    @Html.DropDownList("id-etapa", new SelectList(ViewBag.etapasInDrop, "id_etapa", "ds_etapa", id_etapa != null ? id_etapa : null), String.Empty, new { @class = "form-control" })
}
else
{

    foreach (var item in Model)
    {

        var iddata = item.Id_Etapa;

        <div class="row">
            <div class="col-md-3">
                <input type="checkbox" name="check-etapa" value="@item.Id_Etapa" />
                <label> @item.Ds_Etapa </label>
            </div>
            <div class='col-md-3'>
                <input id="inicio-@iddata" type="text" onkeypress="mascara(this, mdata);" size="14" maxlength="10" class="form-control" placeholder="MM/DD/AAAA" />
            </div>
            <div class='col-md-3'>
                <input id="fim-@iddata" type="text" onkeypress="mascara(this, mdata);" size="14" maxlength="10" class="form-control" placeholder="MM/DD/AAAA" />
            </div>
        </div>
    }

    @*@Html.CheckBoxList("chkModelsEtapas", (ViewBag.etapas as MultiSelectList), Position.Vertical, new { @class = "form-control" }, 2)*@
}




@*@Html.CheckBoxList("chkModelsOrigem", (ViewBag.origens as MultiSelectList), Position.Vertical, new { @class = "form-control" }, 1)*@

@foreach (var item in ViewBag.origens)
{
    var check = (((List<NovoControleProjetos.Models.Checkados>)ViewBag.Checkadas).Any(x => x.id_checkado == item.Id_Origem));

    <div class="form-inline">

        <input id="origensCheck" type="checkbox" name="check-origem" value="@item.Id_Origem" checked="@check" />
        <label> @item.Ds_Origem </label>
      
    </div>
}




